html, body{
  background-color: white;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*BANNER*//*BANNER*//*BANNER*/
.wrapper{
  position: fixed;
  width: 100%;
  display: grid;
  top: 0;
  align-items: center;
  gap: 40px;
  grid-template-columns: auto auto 1fr auto;
  background-color: #A6D9F7;
  }
  .wrapper > div {  
    padding: 1em;
  }
  #titulo{
    text-align: center;
  }
/*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*/
#divBusca{
  display: flex;
  background-color:white;
  border:solid 1px;
  border-radius:15px;
  padding: 6px;
  width:360px;
  justify-content: space-between;
}
#txtBusca{
  flex-grow: 1;
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:15px;
}
/*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*/
#imagens{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
/*CONTEUDO*//*CONTEUDO*//*CONTEUDO*/
main{
  margin-top: 105px;
  display: flex;
  }
li{
  list-style: none;
}


div ul button {
  border: 1px solid black;
  background: white;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}

div ul button:hover {
  transition: background, color 0.6s;
  background: white;
  color: black;
}
/*CATALOGO*//*CATALOGO*//*CATALOGO*/
h2{
  border-bottom: #1A3580 2px solid;
}
.promocao{
 margin-left: 150px; 
}
.catalogo{
  margin-left: 140px;
  
}
.Titulo-Catalogo {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}
.baralho {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}
  .carta {
  height: 400px;
  background:white;
  border: groove black 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.carta-conteudo{
  background-color: rgb(250, 250, 250);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.carta img {
  width: 65%;
}
.favoritos{
  width: 10% !important;
 margin-left: 275px;
 margin-bottom: 25px;
}
.carta p{
  font-family:'Poppins';font-style:normal;
  color: black;
  align-items: center;
  text-align: -webkit-center;
}
.carta button {
  width: 90%;
  padding: 15px 0px;
  border: none;
  background:#A6D9F7;
  border-radius: 4px;
  color: #1A3580;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}
.carta button:hover {
  background: #dedede;
  color: black;
}
/*SOBRE*//*SOBRE*//*SOBRE*/
.sobre {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}
/*RECURSO*//*RECURSO*//*RECURSO*/
.Recurso{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background:#E6E6EA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }
  .baralho-titulo-conteudo{
    padding: 20px 0px;
  }
  .carta-recurso-bloco{
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
  }
  .carta-recurso-item{
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #dedede3b;
    border-radius: 4px;
  }
  .carta-recurso-texto{
  max-width: 60%;
  margin: 5px;
  }
  .carta-recurso-item img{
    width: 64px;
    height: 64px;
  }