html, body{
  background-color: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*BANNER*//*BANNER*//*BANNER*/
.wrapper{
  position: fixed;
  width: 100%;
  padding: 0px 100px;
  display: grid;
  top: 0;
  align-items: center;
  gap: 40px;
  grid-template-columns: auto auto 1fr auto;
  background-color: #A6D9F7;
  }
  .wrapper > div {  
    padding: 1em;
  }
  #titulo{
    text-align: center;
  }
/*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*/
#divBusca{
  display: flex;
  background-color:white;
  border:solid 1px;
  border-radius:15px;
  padding: 6px;
  width:360px;
  justify-content: space-between;
}
#txtBusca{
  flex-grow: 1;
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:15px;
}
/*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*/
#imagens{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
/*CONTEUDO*//*CONTEUDO*//*CONTEUDO*/
main{
  margin-top: 110px;
  background-color: white;
  display: flex;
  }
li{
  list-style: none;
}


div ul button {
  border: 1px solid black;
  background: white;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}

div ul button:hover {
  transition: background, color 0.6s;
  background: white;
  color: black;
}
/*CATALOGO*//*CATALOGO*//*CATALOGO*/
section .catalog {
  width: 100vw;
  padding: 100px;
}

section .filter-card {
  width: 1280px;
  height: 150px;
  background: grey;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background:blue;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.search-button:hover {
  background: #dedede;
  color: var(--blue);
}

.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}
section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

