html, body{
  background-color: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*BANNER*//*BANNER*//*BANNER*/
.wrapper{
  position: fixed;
  width: 100%;
  padding: 0px 100px;
  display: grid;
  top: 0;
  align-items: center;
  gap: 40px;
  grid-template-columns: auto auto 1fr auto;
  background-color: #A6D9F7;
  }
  .wrapper > div {  
    padding: 1em;
  }
  #titulo{
    text-align: center;
  }
/*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*//*BOTÃO DE BUSCA*/
#divBusca{
  display: flex;
  background-color:white;
  border:solid 1px;
  border-radius:15px;
  padding: 6px;
  width:360px;
  justify-content: space-between;
}
#txtBusca{
  flex-grow: 1;
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:15px;
}
/*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*//*IMAGENS DE BOTÕES*/
#imagens{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
/*CONTEUDO*//*CONTEUDO*//*CONTEUDO*/
main{
  margin-top: 110px;
  background-color: white;
  display: flex;
  }
li{
  list-style: none;
}
#Produtos{
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
#Produtos ul{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
}
div ul button {
  border: 1px solid black;
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}

div ul button:hover {
  transition: background, color 0.6s;
  background: white;
  color: black;
}